.env
.coverage
composer.lock
/bin
/core
/build
/vendor
/coverage
/node_modules
/bower_components
/.tmp
/packages
/.idea
/.phpstorm.meta.php
/_ide_helper.php
/bundle-analyzer.html
/yarn.lock
/yarn-error.log
/sites
/a.md